.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto
artifacts
build
doc/protocol/NeoIPC-Antibiotics*.adoc
doc/protocol/NeoIPC-Infectious-Agents*.adoc
doc/protocol/NeoIPC-Core-Protocol*.xml
doc/protocol/img/NeoIPC-Core-Decision-Flow*.svg
doc/protocol/img/NeoIPC-Core-Master-Data-Collection-Sheet-Image*.svg
doc/protocol/img/NeoIPC-Core-Master-Data-Collection-Sheet*.svg
doc/protocol/img/NeoIPC-Core-Title-Page*.svg
doc/protocol/img/Preview-Watermark*.svg
metadata/common/infectious-agents/NeoIPC-Infectious-Agents.*.yaml
metadata/common/infectious-agents/Output-Footer.*.adoc
metadata/common/infectious-agents/Output-Header.*.adoc
reports/**/*.html
reports/**/*.md
reports/**/*_files/**
reports/**/_output
reports/ICHE-Health-Intervention-Codes.csv
