[po4a_langs] af de es et fr gr it ne tr
[po4a_paths] po/reports.pot $lang:po/reports.$lang.po
[options] --width 0 --master-charset UTF-8 --localized-charset UTF-8 --wrap-po newlines --master-language en --msgid-bugs-address NeoIPC-Support@charite.de --copyright-holder "Charité – Universitätsmedizin Berlin" --package-name "NeoIPC Surveillance Reports" --package-version 0.9

# Common
[type: yaml] reports/common.yaml $lang:reports/common.$lang.yaml opt:"-o keys='digit_group_separator unit_separator'"

# Partner Report
[type: yaml] reports/Partner-Report/_quarto-en.yml $lang:reports/Partner-Report/_quarto-$lang.yml opt:"-o keys='title'"
[type: yaml] reports/Partner-Report/content/_sR.yaml $lang:reports/Partner-Report/content.$lang/_sR.yaml opt:"-o keys='decimal_separator digit_group_separator unit_separator gramm_abbreviation week_abbreviation day percent_symbol own_unit reference_data patient_days ref no-ref n rate pooled q1 q2 q3 risk_density_rate vascular_catheter cvc pvc ventilatory_support any inv niv other human_milk probiotic kangaroo_care antibiotics any_antibiotic access watch reserve vascular_catheter ventilatory_support other antibiotics days_with_risk_factor tbl-cap n_footnote rate_footnote pooled_footnote quartile_footnote aware_footnote'"
[type: text] reports/Partner-Report/content/_introduction.qmd $lang:reports/Partner-Report/content.$lang/_introduction.qmd opt:"-o markdown" opt:"-o neverwrap"

# Partner Certificate
[type: yaml] reports/Partner-Certificate/_quarto-en.yml $lang:reports/Partner-Certificate/_quarto-$lang.yml opt:"-o keys='title author-meta'"
[type: yaml] reports/Partner-Certificate/_sR.yaml $lang:reports/Partner-Certificate/_sR.$lang.yaml opt:"-o keys='digit_group_separator signature_offset'"
